.horizonLine095 {  display: grid;
    grid-template-columns: 2fr 96fr 2fr;
    grid-template-rows: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      ". hr095 .";
  }
  
  .hr095 {
    grid-area: hr095;
    border-bottom: 0.2rem solid;
    /* margin: 0 0 2rem 0; */
  }

  .betweenCourseHorizonLine {  display: grid;
    grid-template-columns: 1fr 18fr 1fr;
    grid-template-rows: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      ". lineDivInBetweenCourseHorizonLine .";
    margin: 1rem 0% 0.5rem 0%;
  }
  
  .lineDivInBetweenCourseHorizonLine {
    grid-area: lineDivInBetweenCourseHorizonLine;
    border-bottom: 0.10rem solid;
  }