@import "tableHeader.css";
@import "courseName.css";
@import "tableBody.css";
@import "singleCourseInfo.css";
@import "horizonLine.css";
@import "semester.css";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+SC:wght@500&display=swap');
@import "navigate.css";

/*用中文替换原先英文字体*/
:root {
    --primary-color: #d1d8f7;
    --white-color: #ffffff;

    --light-text-color: #9398b3;
    --light-bg-color: #f2f4ff;
    --dark-color: #333333;

    --background-color: #fcfcff;
}

*,
::before::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Noto Sans SC', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.8;
    color: var(--dark-color);
    background-color: var(--background-color);
    user-select: none;
    -webkit-user-drag: none;
    height: 98vh;
    overflow: scroll;
}

body::-webkit-scrollbar {
    width: 0px;
    height: 0px;
}

a {
    text-decoration: none;
    color: inherit;
    -webkit-tap-highlight-color: transparent;
}


.hero {
    flex: 1 0 66.6666%;
    position: relative;
    display: flex;
    flex-direction: column;
    /* gap: 50px; */
    /* padding: 70px 0; */
}

.hero::before {
    content: '';
    position: absolute;
    top: 10%;
    left: 15%;
    width: 70vw;
    height: 70vh;
    background: linear-gradient(to right, var(--primary-color), #c5edffa3, #e6d8d8);
    z-index: -1;
    filter: blur(70px);
}

.hero a {
    font-weight: 500;
    color: var(--primary-color);
    transition: color .3s;
}

.hero a:hover,
form .password a:hover {
    color: var(--dark-color);
    text-decoration: underline;
}


ul {
    list-style: none;
}

h1 {
    font-size: 3em;
    font-weight: 700;
    line-height: normal;
    color: black;
}

.gradeTable {
    margin: 0% 5%;
}

.content {
    width: 90vw;
    height: 70vh;
    overflow-x: hidden;
    /* 隐藏水平滚动条 */
    overflow-y: auto;
}

.updatingContainer {
    display: grid;
    place-items: center;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
        "personal_id update_time";
    margin: 1%;
    padding: 0;
}

.personal_id {
    grid-area: personal_id;
}

.update_time {
    grid-area: update_time;
}

/* 整体滚动条宽度 */
.content::-webkit-scrollbar {
    width: 12px;
    /* 垂直滚动条宽度 */
    height: 12px;
    /* 水平滚动条高度 */
}

/* 滚动条滑块 */
.content::-webkit-scrollbar-thumb {
    background: linear-gradient(45deg, #d7d8ff, #cde2ff);
    border-radius: 6px;
    border: 0px solid #ffffff00;
    /* 保留滑块周围的空隙 */
}

/* 滚动条轨道 */
.content::-webkit-scrollbar-track {
    background: #f0f0f0;
    border-radius: 6px;
}

/* 鼠标悬停在滑块上时 */
.content::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(45deg, #c3c4ff, #dfe9ff);
}

/* 滚动条的按钮 */
.content::-webkit-scrollbar-button {
    display: none;
    /* 隐藏按钮 */
}