.tableBodyContainer {
  display: flex;
  flex-direction: column;
}

.infoGrid {
  grid-area: infoGrid;
}

/* 整体滚动条宽度 */
::-webkit-scrollbar {
  width: 12px; /* 垂直滚动条宽度 */
  height: 12px; /* 水平滚动条高度 */
}

/* 滚动条滑块 */
::-webkit-scrollbar-thumb {
  background: linear-gradient(45deg, #6b8ef7, #a9c9ff);
  border-radius: 6px;
  border: 2px solid #fff; /* 保留滑块周围的空隙 */
}

/* 滚动条轨道 */
::-webkit-scrollbar-track {
  background: #f0f0f0;
  border-radius: 6px;
}

/* 鼠标悬停在滑块上时 */
::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(45deg, #4e71db, #8fb3ff);
}

/* 滚动条的按钮 */
::-webkit-scrollbar-button {
  display: none; /* 隐藏按钮 */
}
