.tableHeaderContainer {  display: grid;
    place-items: center;
    grid-template-columns: 0.5fr 2fr 1fr 1fr 1.5fr;
    grid-template-rows: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "semester courseName gp grade detail";
  }
  

  .semester { grid-area: semester; }
  
  .courseName { grid-area: courseName; }
  
  .gp { grid-area: gp; }
  
  .grade { grid-area: grade; }
  
  .detail { grid-area: detail; }
  