<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>成绩明细查询</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/loginStyle.css') }}">
    <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">
    <script type="text/javascript">
        function onSubmit(event) {

        }
    </script>
</head>
<body>
<div id="page" class="site">
    <div class="container">
        <div class="login">
            <div class="hero">
                <h1>成绩明细查询</h1>
                <p>输入教务系统学号密码查询成绩明细<br>成绩排序为学期先后</p>
            </div>
            <div class="main">
                <form method="POST" onsubmit="onSubmit()">
                    <p>
                        <input type="text" id="student_id" name="student_id" required placeholder="学号">
                    </p>
                    <p class="password">
                        <input type="password" id="password" name="password" required placeholder="密码">
                        <!-- <i class="ri-eye-off-line"></i> -->
                        <!-- <a href="#">找回密码</a> -->
                    </p>
                    <p>
                        <input type="submit" class="submit" value="查询">
                    </p>
                </form>
                <div class="options">
                    <div class="separator">
                        <p>关于网站</p>
                    </div>
                    <ul>
                        <li><a target="_blank" href="https://github.com/lyy1119/cumtbGradeInquireWebsite"><i class="ri-github-fill ri-2x"></i></a></li>
                        <li><a target="_blank" href="https://exp.lyy19.top/">author</a></li>
                        <li><a target="_blank" href="https://github.com/lyy1119/cumtbGradeInquireWebsite/issues"><i class="ri-bug-fill ri-2x">?</i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
<footer>
    <a href="https://beian.miit.gov.cn/" target="_blank"> | 京ICP备2024090415号 |</a>
</footer>
</html>